@import 'utilities/index';
@import 'base/index';
@import 'components/index';


//Fonts
.headline--primary {
  font-family: $font-primary;
  color: $color-heading;
}

.headline--secondary {
  font-family: $font-primary;
  color: $color-text;
}

//Button Styles
.btn--default {
    background-color: $color-primary;
    color: white;
  }

.btn--success {
    background-color: $color-success;
    color: white;
  }
  
  .btn--error {
    background-color: $color-error;
    color: white;
  }

  .btn--warning {
    background-color: $color-warning;;
    color: white;
  }

  .btn--info {
    background-color: $color-info;
    color: white;
  }
  

// Breakpoints
@media (max-width: $bp-small) {
    .nav {
        flex-direction: column;
    }

    .grid_col--12 {
        width: 100%;
    }
}
  
  @media (min-width: $bp-large) {
    .nav {
        flex-direction: row;
    }

    .grid_col--12 {
        width: calc(100% - 20px);
    }
}
  