//***BREAKPOINTS***
$bp-small: 480px;
$bp-large: 1400px;

// ***FONTS***
$font-primary: 'Helvetica Neue', Arial, sans-serif;

//***COLORS***
$gray: #777;
$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;
$color-text: #333;
$color-heading: #1abc9c;

//***Borders***
$radius-sm: 5px;