//VARIABLES

//Colors
$gray: #777;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$white: #fff;
$color-success: #63cc82;

//Borders
$radius-sm: 5px;

//Media Query
$large: 'min-width: 768px';

//Fonts
$font-primary: 'Lato', sans-serif;
