//***BREAKPOINTS***
$bp-small: 480px;
$bp-large: 1400px;

// ***FONTS***
$font-primary: 'Helvetica Neue', Arial, sans-serif;

//***COLORS***
$gray: #777;
$color-primary: #24c2d4;
$color-secondary: #51ddfc;
$color-success: #5cb85c;
$color-error: #d9534f;
$color-warning: #f0ad4e;
$color-info: #927bc1;
$color-text: #333;
$color-heading: #1abc9c;
