//Base Styles
* {
   font-family: $font-primary;
   color: $gray;
   box-sizing: border-box;
}

p {
    line-height: 1.45em;
}

a{
    text-decoration: none;
}

//Typography
.headline--primary {
    color: $color-primary;
    margin-left: 10px;
  }
  
  .headline--secondary {
    font-weight: 300;
    color: $gray;
  }