//Base Styles


//Typography
.headline--primary {
    font-family: $font-primary;
    color: $color-heading;
  }
  
  .headline--secondary {
    font-family: $font-primary;
    color: $color-text;
  }